/build-laser-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/
/build-laser-Desktop_Qt_5_12_2_MinGW_32_bit-Release/
/exe/
/temp/
save_temp.jpg
tempImg1.jpg
tempImg2.jpg
tempImg4.jpg
tempImg6.jpg
tempImg7.jpg
tempImg8.jpg
º§π‚ÕºΩ‚.png
name.jpg
name.png
humansegment_bk0.jpg
humansegment_bk1.jpg
humansegment_bk2.jpg
sea.jpg
white-sea.jpg
icon-white.jpg
icon-half.jpg
mio-full.gcode
temp.png


